{% include "header.html.twig" %}

{% block title %}Profile{% endblock %}

{% block body %}
{% if user %}
    <h1>Hello {{ user.username }}!</h1>
    <p>First Name: {{ user.firstName }}</p>
    <p>Last Name: {{ user.lastName }}</p>
    <p>Email: {{ user.Email }}</p>

    <a href="{{ path('app_edit_profile') }}" class="">Change</a>

    {# Add the Delete Account button with a data-toggle attribute #}
    <button class="btn btn-danger" id="deleteAccountBtn" data-toggle="modal" data-target="#deleteAccountModal">Delete Account</button>

    {# Include the Delete Account modal #}
    <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAccountModalLabel">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete your account?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{{ path('app_delete_account') }}" class="btn btn-danger">Confirm</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>You are not logged in. Please <a href="{{ path('app_login') }}">login</a> or <a href="{{ path('app_register') }}">register</a> to view your profile.</p>
    {% endif %}

{% endblock %}

{% if app.user %}
<div class="mb-3">
    <a href="{{ path('app_logout') }}">Logout</a>
</div>
{% endif %}

{% include "footer.html.twig" %}
