{% block title %}Note form{% endblock %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <td>Mã SP</td>
                    <td>Hình ảnh</td>
                    <td>Tên SP</td>
                    <td>Giá</td>
                    <td>Hành động</td>
                </tr>
            </thead>
            <tbody>
                {% for sp in data %}
                    <tr>
                        <td>{{sp.getId()}}</td>
                        <td><img src="{{asset('uploads/product/' ~ sp.getPhoto())}}" height="150" /></td>
                        <td>{{sp.getName()}}</td>
                        <td>{{sp.getPrice()}}</td>
                        <td>
                            <button type="submit" formmethod="post" formaction="{{path('app_cart_add',{'product_id':sp.getId()})}}">Add to cart</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function deletesp(url){
            if(confirm("Do you delete product?")){
                window.location.href = url;
            }
        }
    </script>
{% endblock %}