{% include "header.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style1.css') }}">
    <link rel="stylesheet" href="{{ asset('css/templatemo-sixteen.css') }}">


{% endblock %}


{% block body %}
    <div class="container">
        <section class="products">
            <h1 class="heading">ALL PRODUCTS</h1>
            <div class="box-container">
                {% for sp in data %}
                <form action="{{ path('app_cart_add', {'product_id': sp.getId()}) }}" method="post">
                    <div class="box">
                        <img src="{{ asset('uploads/product/' ~ sp.getPhoto()) }}" alt="">
                        <h3>{{ sp.getName() }}</h3>
                        <div class="price">{{ sp.getPrice() }}</div>
                        <button type="submit" class="btn" name="add_to_cart">Add to cart</button>
                    </div>
                </form>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function deletesp(url){
            if(confirm("Do you want to delete the product?")){
                window.location.href = url;
            }
        }
    </script>
{% endblock %}
