{% form_theme order_form 'bootstrap_4_layout.html.twig' %}
{% include "header.html.twig" %}

{% block title %}Order Checkout
{% endblock %}

{% block stylesheets %}
<style>
  .button {
	  margin-left:29.5rem;
	  margin-bottom:20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }

  .button:hover {
    background-color: gray;
    color: black;
  }
</style>
{% endblock %}

{% block body %}
	<div class="container" style="margin-top: 80px;margin-bottom:80px">
        {{form_start(order_form)}}
            {{form_widget(order_form)}}
            <input type="submit" value="Confirm" class="button" />
        {{form_end(order_form)}}
		<table class="table">
			<tr>
				<th>Index</th>
				<th>Product</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Total</th>
			</tr>
			{% for item in cart_manager.items %}
				<tr>
                    <td>{{loop.index}}</td>
                    <td>
                        {{item.product.name}}</td>
                    <td>{{item.product.price}}$</td>
                    <td>
                        {{item.quantity}}
                    </td>
                    <td>{{item.amount}}$</td>
				</tr>
			{% endfor %}
			<tr>
				<td colspan='4' >SUM</td>
				<td>{{cart_manager.amount}}$</td>
			</tr>
		</table>
	</div>
{% endblock %}
{% include "footer.html.twig" %}
{% block javascripts %}
{% if message is not empty %}
    <script> alert("{{message}}");</script>
{% endif %}
{% endblock %}
