{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
  <title>Product</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <style>
    /* Add CSS for Bootstrap 5 classes */
    /* Styling for the container */
    .container {
      margin-top: 50px;
      margin-bottom: 30px;
    }

    /* Styling for the form */
    form {
      margin-bottom: 20px;
    }

    /* Additional custom styling */
    /* Center the form horizontally */
    .container {
      display: flex;
      justify-content: center;
    }

    /* Increase the width of the form */
    form {
      max-width: 400px;
    }

    /* Add some padding to the form */
    form > div {
      padding: 10px;
    }

    /* Center the title text */
    h1 {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="container">
      {{ form_start(product_form) }}
      <div>
        <label for="product_name">{{field_label(product_form.name)}}</label>
        <input type="text" value="{{field_value(product_form.name)}}" name="{{field_name(product_form.name)}}" class="form-control">
      </div>
      <div>
        <label for="product_price">{{field_label(product_form.price)}}</label>
        <input type="text"  value="{{field_value(product_form.price)}}" name="{{field_name(product_form.price)}}" class="form-control">
      </div>
      <div>
        <label for="product_Description">{{field_label(product_form.Description)}}</label>
        <input type="text"  value="{{field_value(product_form.Description)}}" name="{{field_name(product_form.Description)}}" class="form-control">
      </div>
            <div>
        <label for="product_price">{{field_label(product_form.photo)}}</label>
        <input type="file"  value="{{field_value(product_form.photo)}}" name="{{field_name(product_form.photo)}}" class="form-control">
      </div>
      <div>
        <label for="product_category">{{field_label(product_form.cate)}}</label>
        <select name="{{field_name(product_form.cate)}}" class="form-control">
          {% for label, value in field_choices(product_form.cate) %}
            <option value="{{value}}">{{label}}</option>
          {% endfor %}
        </select>
      </div>
      <div style="margin-left: 5rem">
        <input type="submit" value="Submit" class="btn btn-primary">
        <input type="button" value="Clear" onclick="clearForm()" class="btn btn-secondary">
      </div>
    
    {{ form_end(product_form) }}
  </div>
 </body>
</html>
{% endblock %}

{% block javascripts %}
  <script>
    function clearForm() {
      document.querySelector("form").reset();
    }
  </script>
{% endblock %}